body {
	background: #F0F0F0;
}

.hero-area {
	background: #081945;
	height: 100vh;
	background-size: cover;
	color: #BFBFBF;
}

.brand {
	text-align: center;
	background: transparent;
}

.brand img {
	width: 150px;
	height: 150px;
}

.intro-area {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.work-sec .container {
	border-top: 1px solid #4db6ac;
}


.communities .card-image,img {
	height: 100%;
}

h1,h2,.brand,h5 {
	text-transform: uppercase;
}

.projects a{
	color: #e59503;
}
@media  screen and (max-width: 600px) {
	.brand h1{
		font-size: 25px;
	}
}
